build/**/*.pkg filter=lfs diff=lfs merge=lfs -text
dist/**/*.exe filter=lfs diff=lfs merge=lfs -text
resource/**/*.bin filter=lfs diff=lfs merge=lfs -text
resource/**/*.gz filter=lfs diff=lfs merge=lfs -text
